.posts-logic-and-computer,
main,
.posts-logic-and-computer section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.posts-logic-and-computer section {
  width: 50%;
  margin-bottom: 2rem;
}
.texts {
  max-width: 80rem;
  margin-top: 0.5rem;
}
.posts-logic-and-computer .texts > a {
  color: #1087ff;
  text-decoration: none;
}
.images-computer, .images {
  margin: 1rem 0;
  width: 70%;
}
body {
    overflow-x: hidden;
}