body {
    font-family: sans-serif;
}
.textos-computer {
    text-align: justify;
    margin-top: 10px;
    color: rgb(87, 86, 86);
    font-size: 110%;
    max-width: 50%;
    margin-left: 25%;
}
section {
    margin-bottom: -18px;
}
.titulos {
    font-weight: bold;
    text-align: left;
    margin-left: 25%;
    margin-top: 30px;
}
.container {
    text-align: center;
}
.fotos-explicativos {
    width: 40%;
    text-align: center;
}

@media (max-width: 600px) {
    .textos-computer {
        font-size: 130%;
        max-width: 60%;
    }
    .titulos {
        max-width: 50%;
    }
    
}